type {{ pascalCase name }}Props = {

}

const {{ pascalCase name }} = ({}: {{ pascalCase name }}Props): React.JSX.Element => {
  return (
    <div>
      <h2>{{ pascalCase name }}</h2>
    </div>
  );
};

export default {{ pascalCase name }}
